.git
.github
.firebase
.vscode
.idea

**/node_modules
**/dist
**/target
**/.m2repo

*.log
*.tmp
*.dump
*.dumpstream
backend_debug*.log
compile_*.txt
final_compile.txt
full_compile.txt
run_debug.txt

.env
**/.env
